@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  background-color: rgb(38, 44, 44);
  font-family: 'Bebas Neue', sans-serif;
}

.App {
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
  color: #fff;
  letter-spacing: 1rem;
  font-size: 2rem;
}
