@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@700&display=swap');

* {
  background-color: rgb(38, 44, 44);
}

.title {
  letter-spacing: 1rem;
  font-size: 3rem;
  font-family: 'Orbitron', sans-serif;
}
